//for TLQ
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
//for LED Queen
@import url("https://fonts.googleapis.com/css2?family=Hurricane&display=swap");

$colorTLQ: rgb(241, 184, 218);
$colorTLQglow: rgb(241, 107, 188);

header {
	// @include borderTest(black);
	width: 100%;
	height: 20%;
}

.logo {
	// @include borderTest(blue);
	height: 20%;
	width: 7em;
	position: relative;
	text-align: center;
	margin-left: 1em;
	&-back {
		// font-weight: 600;
		font-size: 5rem;
		color: $colorTLQ;
		text-shadow: 0 0 2px white, 0 0 4px $colorTLQglow, 0 0 8px $colorTLQglow,
			0 0 9px $colorTLQglow;
		letter-spacing: 4px;
		font-family: "Bebas Neue", cursive;
	}

	&-front {
		font-family: "Hurricane", cursive;
		font-size: 1.6rem;
		position: absolute;
		left: 0;
		top: 30px;
	}
}
