section.ui-container {
	display: grid;
	grid-template-columns: 25em 45em;
	width: 70%;
	grid-gap: 20px;
	padding: 1rem 2rem;
	height: 80vh;
	min-height: 38rem;
	justify-content: center;

	@media screen and (max-width: 1200px) {
		grid-template-columns: 100%;
		width: 100%;
	}
}

section.primary-heading {
	@include flexCentered;
	flex-direction: column;
	margin-bottom: 1em;
	& > h1 {
		color: $primaryColor;
		font-size: 2.2rem;
		font-style: italic;
	}

	& > h2 {
		color: $secondaryColor;
	}

	@media screen and (max-width: 500px) {
		& > h1 {
			font-size: calc(2rem - 2px);
		}

		& > h2 {
			font-size: calc(1.5rem - 2px);
		}
	}
}
