$lightRed: rgb(255, 117, 117);
$deepBlue: rgb(2, 116, 252);
$electricBlue: rgb(99, 170, 255);
$tropicalBlue: rgb(36, 183, 222);
$iceBlue: rgb(144, 220, 255);
$green: #20f020;
$deepGreen: rgba(14, 185, 14, 0.884);
$mintGreen: rgb(128, 255, 217);
$warmWhite: rgb(240, 238, 199);
$white: rgb(225, 227, 230);

.input-color-list {
	// @include borderTest(silver);
	border-radius: 0.2em;
	width: 5em;
	padding: 1em;
	text-align: center;
	color: rgb(63, 62, 62);
	cursor: pointer;
	&-heading {
		font-size: 0.8rem;
		margin-top: 0.4em;
	}

	//hover effect per bulb
	&.orange {
		&:hover {
			i[data-color="orange"] {
				@include glowingLight(orange);
			}
		}
	}

	//red
	&.lightRed {
		&:hover {
			i[data-color="light red"] {
				@include glowingLight($lightRed);
			}
		}
	}
	//red
	&.red {
		&:hover {
			i[data-color="red"] {
				@include glowingLight(red);
			}
		}
	}
	//deepBlue
	&.deepBlue {
		&:hover {
			i[data-color="deep blue"] {
				@include glowingLight($deepBlue);
			}
		}
	}
	//electric blue
	&.electricBlue {
		&:hover {
			i[data-color="electric blue"] {
				@include glowingLight($electricBlue);
			}
		}
	}
	//tropical blue
	&.tropicalBlue {
		&:hover {
			i[data-color="tropical blue"] {
				@include glowingLight($tropicalBlue);
			}
		}
	}
	//ice blue
	&.iceBlue {
		&:hover {
			i[data-color="ice blue"] {
				@include glowingLight($iceBlue);
			}
		}
	}
	//green
	&.green {
		&:hover {
			i[data-color="green"] {
				@include glowingLight($green);
			}
		}
	}

	//mint green
	&.mintGreen {
		&:hover {
			i[data-color="mint green"] {
				@include glowingLight($mintGreen);
			}
		}
	}

	//deep green
	&.deepGreen {
		&:hover {
			i[data-color="deep green"] {
				@include glowingLight($deepGreen);
			}
		}
	}
	//warm white
	&.warmWhite {
		transition: background-color 0.3s ease-in-out;
		&:hover {
			i[data-color="warm white"] {
				@include glowingLight($warmWhite);
			}
			background-color: rgba(97, 97, 97, 0.582);
			color: white;
		}
	}
	//white
	&.white {
		transition: background-color 0.3s ease-in-out;
		&:hover {
			i[data-color="white"] {
				@include glowingLight($white);
			}
			background-color: rgba(97, 97, 97, 0.582);
			color: white;
		}
	}
}

.fa.fa-lightbulb-o {
	font-size: 1.8rem;
	transition: text-shadow, color 0.3s ease-in-out;
}

i[data-color="orange"] {
	color: orange;
}

i[data-color="light red"] {
	color: $lightRed;
}

i[data-color="red"] {
	color: red;
}

i[data-color="deep blue"] {
	color: $deepBlue;
}

i[data-color="electric blue"] {
	color: $electricBlue;
}

i[data-color="tropical blue"] {
	color: $tropicalBlue;
}

i[data-color="ice blue"] {
	color: $iceBlue;
}

i[data-color="green"] {
	color: $green;
}

i[data-color="mint green"] {
	color: $mintGreen;
}

i[data-color="deep green"] {
	color: $deepGreen;
}

i[data-color="warm white"] {
	color: $warmWhite;
}

i[data-color="white"] {
	color: $white;
}
